/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

@include font-face(
	"noto_naskh_arabicregular",
	font-files(
		"notonaskharabic-regular-webfont.woff",
		"notonaskharabic-regular-webfont.ttf",
		"notonaskharabic-regular-webfont.svg#noto_naskh_arabicregular",
		"notonaskharabic-regular-webfont.woff2"
	),
	"notonaskharabic-regular-webfont.eot"
);
@include font-face(
	"noto_naskh_arabicbold",
	font-files(
		"notonaskharabic-bold-webfont.woff",
		"notonaskharabic-bold-webfont.woff2",
		"notonaskharabic-bold-webfont.ttf",
		"notonaskharabic-bold-webfont.svg#noto_naskh_arabicbold"		
	),
	"notonaskharabic-bold-webfont.eot"
);
@include font-face(
	"noto_kufi_arabicregular",
	font-files(
		"notokufiarabic-regular-webfont.woff",
		"notokufiarabic-regular-webfont.woff2",
		"notokufiarabic-regular-webfont.ttf",
		"notokufiarabic-regular-webfont.svg#noto_kufi_arabicregular"		
	),
	"notokufiarabic-regular-webfont.eot"
);
@include font-face(
	"noto_kufi_arabicbold",
	font-files(
		"notokufiarabic-bold-webfont.woff",
		"notokufiarabic-bold-webfont.woff2",
		"notokufiarabic-bold-webfont.ttf",
		"notokufiarabic-bold-webfont.svg#noto_kufi_arabicbold"		
	),
	"notokufiarabic-bold-webfont.eot"
);

%heading-font { font-family: "noto_kufi_arabicbold"; }
%heading-font-regular { font-family: "noto_kufi_arabicregular"; }
%nav-font { font-family: "noto_naskh_arabicbold"; }
%text-font { font-family: "noto_naskh_arabicregular"; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
	@extend %heading-font;
}

p, span {
	@extend %text-font;
}

nav {
	@extend %nav-font;
}