/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

// Clear after floats
%clearfix {
    *zoom:1;
    &::before, &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

%hide-text {
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
}

%base-float {
	width: 100%;
	float: right;
}

// Helper classes
.clearfix { @extend %clearfix; }
.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.border { border: 1px solid $border; }
.border-top { border-top: 1px solid $border; }
.border-right { border-right: 1px solid $border; }
.border-bottom { border-bottom: 1px solid $border; }
.border-left { border-left: 1px solid $border; }
.background-dark { background: $black; }
.background-gray { background: #2B2B2B; }

.wrapper {
    @extend %clearfix;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
}
.mobile {
    display: none;
    @include breakpoint (phone) {
        display: block;
    }
}
.desktop {
    @include breakpoint (phone) {
        display: none;
    }
}
.categorie {
    display: block;
    @extend %text-font;
    font-size: 18px;
    line-height: 1;
    color: $gold;
    text-decoration: none;
}
.read-more {
    display: block;
    width: 100%;
    @extend %text-font;
    font-size: $base-font-size;
    color: $gold;
}

.btn--big {
    display: inline-block;
    background: $gold;
    color: $white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
}

// Icons
.search {
    @include icons-sprite(search);
    width: image-width("icons/search.png");
    height: image-height("icons/search.png");
}
.search2x {
    @include icons-sprite(search2x);
    width: image-width("icons/search.png");
    height: image-height("icons/search.png");
}
.hamburger {
    @include icons-sprite(menu);
    width: image-width("icons/menu.png");
    height: image-height("icons/menu.png");
    @extend %hide-text;
}
.comment {
    @include icons-sprite(comment);
    width: image-width("icons/comment.png");
    height: image-height("icons/comment.png");
}
.arrow-down {
    @include icons-sprite(arrow-down);
    width: image-width("icons/arrow-down.png");
    height: image-height("icons/arrow-down.png");
}
.time {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    @include icons-sprite(time);
    width: image-width("icons/time.png");
    height: image-height("icons/time.png");
}
.placepin {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    @include icons-sprite(place);
    width: image-width("icons/place.png");
    height: image-height("icons/place.png");
}

// Album and video overlay icons
.icon-overlay {
    bottom: 0;
    right: 0;
    background: $text-color;
    &.album {
        @include icons-sprite(album);
        width: image-width("icons/album.png");
        height: image-height("icons/album.png");
    }
    &.video {
        @include icons-sprite(video);
        width: image-width("icons/video.png");
        height: image-height("icons/video.png");
    }
    &.letter {
        @include icons-sprite(letter);
        width: image-width("icons/letter.png");
        height: image-height("icons/letter.png");
    }
    &.search-overlay {
        @include icons-sprite(search-overlay);
        width: image-width("icons/search-overlay.png");
        height: image-height("icons/search-overlay.png");
    }
}

// Separators
.separator {
    display: inline-block;
    margin: 0 5px;
    &.hline {
        display: block;
        margin: 0 auto;
        height: 3px;
        width: 50px;
        background: $gold;
    }
}