/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/

// Vertical rhythm
$base-font-size: 18px;
$base-line-height: 21px;
@include establish-baseline;

// Dimensions
$container-width: 960px;
$gutter-width: 65px;
$gutter-margin: 20px;
$max-image-height: 500px;
$margin-right: 20px;
$margin: 20px;

// RGBAPNG backgroudn
$rgbapng_path: 'rgba_pngs';
$rgbapng_px_size: 3;

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 5px);

// Colors
$gold: #9E914C;
$gray-color: #444;
$text-color: #424242;
$text-light: #BEBEBE;
$white: #FFF;
$black: #000;
$border: #DEDEDE;