/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/
@import "compass";
@import "normalize";
@import "rgbapng";
@import "base/config";
@import "base/typography";

/*
|------------------------------------------------------------
| Mixins
|------------------------------------------------------------
*/
@import "mixins/breakpoint";
@import "mixins/input-placeholder";
@import "mixins/rem";
@import "mixins/translate";
@import "mixins/calc";

/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/
@import "helpers/variables";
@import "icons/*.png";
@import "helpers/helpers";
@import "helpers/gradients";

/*
|------------------------------------------------------------
| Modules
|------------------------------------------------------------
*/
@import "modules/header";
@import "modules/main";
@import "modules/footer";
@import "modules/navigation";
@import "modules/slider"; // Remove; This is a sandbox file

.banner {
	display: block;
	width: 100%;
	background: $black;
	margin-bottom: 20px;
	padding: 10px 0;
	img {
		margin: 0 auto;
	}
}
.logo {
	a {
		display: inline-block;
		@extend %hide-text;
		@include translate(0, 7px);
		img {
			display: block;
		}
	}
}
.share-buttons {
	display: block;
	text-align: center;
	a {
		display: inline-block;
	}
}
.editor {
	float: right;
	margin: 0 auto 20px;
	.editor__categorie {
		display: inline-block;
		border-left: 1px solid $border;
		padding-left: 10px;
		color: $gold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.editor__name {
		display: inline-block;
		margin: 0 10px;
		text-decoration: none;
		span {
			display: inline-block;
			margin-right: 10px;
			color: $gold;
			&:hover {
				text-decoration: underline;
			}
		}
		img {
			display: inline-block;
			float: right;
		}
	}		
	.editor__date {
		display: inline-block;
		border-right: 1px solid $border;
		padding-right: 10px;
		font-size: 16px;
		color: $text-light;
	}
}