/*
|------------------------------------------------------------
| Footer
|------------------------------------------------------------
*/
.site-footer {
	text-align: center;
	padding: 0 0 30px;
	.logo {
		float: right;
		@include breakpoint (phone) {
			float: none;
			margin-bottom: 10px;
		}
	}
	.copyright {
		display: inline-block;
		height: image-height("assets/img/logo.jpg");
		@include breakpoint (phone) {
			display: none;
		}
		p {
			margin: 0;
			padding-top: 15px;
			display: block;
		}
	}
	.social-links {
		float: left;
		padding-top: 10px;
		height: image-height("assets/img/logo.jpg");
		@include breakpoint (phone) {
			float: none;
		}
		a {
			display: inline-block;
			@extend %hide-text;
			width: image-width("assets/img/icons/social-facebook.png");
			height: image-height("assets/img/icons/social-facebook.png");
			&.social-facebook {
				@include icons-sprite(social-facebook);
			}
			&.social-youtube {
				@include icons-sprite(social-youtube);
			}
			&.social-instagram {
				@include icons-sprite(social-instagram);
			}
			&.social-gplus {
				@include icons-sprite(social-gplus);
			}
			&.social-twitter {
				@include icons-sprite(social-twitter);
			}
		}
	}
}