/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/
header {
	@extend %clearfix;
	margin-bottom: 20px;
	&.site-header {
		@include breakpoint (phone) {
			margin: 0;
		}
		.wrapper {
			@include breakpoint (phone) {
				text-align: center;
			}
			.menu-trigger {
				float: right;
				cursor: pointer;
				margin-top: 10px;
			}
			.logo {
				display: block;
				text-align: center;
				margin-bottom: 20px;
				border-bottom: 1px solid $border;
				@include breakpoint (phone) {
					display: inline-block;
				}
			}
			.search {
				float: left;
				cursor: pointer;
				@extend %hide-text;
				@include breakpoint (phone) {
					background: transparent image-url("icons/search2x.png") no-repeat left top;
					width: image-width("icons/search2x.png");
					height: image-height("icons/search2x.png");
					margin: 10px 0 0 10px;
				}
			}
		}	
	}
	&.page-header {
		text-align: center;
		h1 {
			font-size: 30px;
			line-height: 36px;
			color: $text-color;
		}
		.editor {
			display: block;
			float: none;
			width: 100%;
			@extend %clearfix;
		}
	}
}