/*
|------------------------------------------------------------
| Main
|------------------------------------------------------------
*/
.section-wrapper {
	display: block;
	margin: 0 0 50px;
	padding: 20px 0;
	&.wide-image {
		padding: 20px 0;
		.image-wrapper {
			display: block;
			overflow: hidden;
			&.maxh {
				max-height: $max-image-height;
			}
			img {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
	&.video-galery {
		.large-article {
			width: 50%;
			.text-wrapper {
				.article-title {
					color: $text-light;
					font-size: 24px;
				}
			}
			@include breakpoint (phone) {
				width: 100%;
			}
		}
		.article-wrapper {
			.small-article {
				margin-right: $margin-right;
				@include calc(width, 50%, "-", $margin-right, 48%);
				.image-wrapper {
					width: 100%;
					margin: 0 0 20px;
				}
				.text-wrapper {
					width: 100%;
					.categorie {
						border: none;
					}
					.article-title {
						color: $text-light;
						font-size: 14px;
						line-height: 24px;
					}
				}
				@include breakpoint (phone) {
					width: 100%;
				}
			}
		}
		.read-more {
			text-decoration: none;
			float: left;
			width: auto;
			margin: 0 0 20px;
			line-height: 2;
			border-bottom: 1px solid $gold;
		}
	}
	&.image-galery {
		.large-article {
			width: 50%;
			@include breakpoint (phone) {
				width: 100%;
			}
			.text-wrapper {
				.article-title {
					color: $text-light;
					font-size: 24px;
				}
			}
		}
		.article-wrapper {
			.small-article {
				margin-right: $margin-right;
				@include calc(width, 100%, "-", $margin-right, 98%);
				@include breakpoint (phone) {
					width: 100%;
				}
				.text-wrapper {
					.article-title {
						color: $text-light;
					}
				}
			}
		}
	}
	&.newsletter {
		text-align: center;
		.section-title {
			float: none;
		}
		p {
			color: $white;
		}
		#newsletter {
			width: 90%;
			height: 60px;
			margin: 0 auto;
			button {
				left: 5px;
				top: 5px;
				height: 50px;
				padding: 0 30px;
				border: none;
				background: $gold;
				color: $white;
				@include breakpoint (phone) {
					padding: 0 10px;
				}
			}
			input {
				width: 100%;
				height: 100%;
				padding-right: 100px;
				@include input-placeholder {
					color: $text-color;
				}
				@include breakpoint (phone) {
					padding-right: 70px;
				}
			}
			.letter {
				right: 20px;
				top: 50%;
				@include translate(0, -50%);
			}
		}
	}
	&.brands {
		text-align: center;
		.section-title {
			color: $black;
			float: none;
		}
		.article-wrapper {
			&.lalign {
				padding-right: 20px;
			}
			article {
				padding: 0;
				margin: 0 0 0 20px;
				text-align: center;
				@include calc(width, 33.3333%, "-", $margin, 31%);
				@include breakpoint (phone) {
					float: right;
					margin: 0 0 0 20px;
				}
				&:nth-child(3n) {
					margin: 0;
				}
				.image-wrapper {
					width: 100%;
				}
				.text-wrapper {
					width: 100%;
					padding: 0;
				}
			}
		}
	}
	&.background-gray {
		.section-title {
			color: $white;
		}
	}
	.text-overlay {
		bottom: -30px;
		left: 50%;
		@include translate(-50%, 0);
		max-width: 450px;
		padding: 10px;
		text-align: center;
		background: $white;
		border-bottom: 1px solid $border;
		color: $gray-color;
		h2 {
			font-size: 28px;
			line-height: 44px;
			margin: 0;	
		}
		.categorie {
			font-size: 18px;
		}
	}
	.article-wrapper {
		float: right;
		width: 50%;
		@include breakpoint (phone) {
			width: 100%;
			float: none;
		}
		&.wide {
			width: 100%;
			article {
				@extend %clearfix;
				float: none;
				width: 50%;
				display: block;
				@include breakpoint (phone) {
					width: 100%;
				}
			}
		}
		.share-buttons {
			float: right;
			padding: 20px 0;
			@include breakpoint (phone) {
				display: block;
				float: none;
			}
			a {
				width: 24%;
			}
			.show-comments {
				display: inline-block;
				margin-top: 10px;
				@include breakpoint (phone) {
					margin: 10px 0;
				}
				a {
					display: block;
					width: auto;
					background: $gold;
					color: $white;
					padding: 10px 20px;
					text-align: center;
					text-decoration: none;
					.comment {
						display: inline-block;
						margin-left: 5px;
					}
					.arrow-down {
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.section-title {
		@extend %base-float;
		color: $text-color;
		font-size: 24px;
		margin: 0 0 20px;
	}
	.comment-section {
		float: right;
		width: 50%;
		@include breakpoint (phone) {
			width: 100%;
			float: none;
			padding: 0 10px;
		}
		.comment-section__title {
			display: block;
			line-height: 1;
		}
		.comment-section__author {
			display: block;
			span {
				display: inline-block;
				margin-right: 10px;
				color: $gold;
			}
			img {
				float: right;
			}
		}
		p {
			color: $text-light;
		}
		hr {
			display: block;
			width: 100%;
			height: 1px;
			border-top: 1px solid $text-light;
		}
		.comment-section__replies {
			display: block;
			margin: 20px 0;
			@extend %clearfix;
			.replies__counter {
				float: right;
				padding: 5px 20px;
				background: $text-light;
				color: $white;
				line-height: 1;
				@include border-radius(10em);
			}
			span {
				float: right;
				margin-right: 10px;
			}
		}
		.comment-section__write-reply {
			float: right;
			@include breakpoint (phone) {
				float: none;
				display: block;
			}
			.gutter--comment {
				float: right;
				margin-left: 10px;
				vertical-align: top;
				@include breakpoint (phone) {
					float: none;
					display: inline-block;
				}
			}
			form {
				float: right;
				@include calc(width, 100%, "-", 55px, 85%);
				@include breakpoint (phone) {
					float: none;
					display: inline-block;
				}
				textarea {
					@extend %base-float;
					margin-bottom: 20px;
				}
				.btn--big {
					float: right;
					margin: 0;
				}
			}
		}
	}
}
article {
	float: right;
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: right;
	@include breakpoint (phone) {
		float: none;
		display: block;
		margin: 0 auto 30px;
	}
	&.small-article {
		.image-wrapper {
			width: 50%;
		}
		.text-wrapper {
			width: 50%;
			@include breakpoint (phone) {
				width: 48%;
			}
		}
	}
	&.small-article--tiny {
		@extend .small-article;
		margin-bottom: 10px;
		.image-wrapper {
			width: auto;
			img {
				margin: 0;
			}
		}
		.text-wrapper {
			h2 {
				margin: 0;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
	&.small-article--post {
		@extend article.small-article;
		padding: 3px;
		background: $white;
		width: 100%;
		.image-wrapper {
			width: auto;
		}
		.text-wrapper {
			.article-title {
				margin: 0;
				font-size: 12px;
			}
			.post-location {
				@extend %base-float;
			}
			.post-time {
				@extend %base-float;
			}
		}
	}
	&.large-article {
		.image-wrapper {
			@extend %base-float;
			margin: 0 0 20px;
			@include breakpoint (phone) {
				float: none;
				display: block;
			}
			img {
				width: 100%;
			}
		}
		.video-wrapper {
			@extend %base-float;
			margin: 0 0 20px;
			@include breakpoint (phone) {
				float: none;
				display: block;
			}
		}
		.text-wrapper {
			@extend %base-float;
			padding: 0;
			@include breakpoint (phone) {
				float: none;
				display: block;
			}
			.categorie {
				border: none;
			}
			.sponsor {
				display: inline-block;
			}
		}
	}
	&.large-article--post {
		@extend article.large-article;
		padding: 3px;
		background: $white;
		.image-wrapper {
			margin: 0;
		}
		.text-wrapper {
			text-align: center;
			.article-title {
				border-bottom: 1px solid $border;
				margin: 5px 0;
			}
			.post-location {
				float: right;
				width: 50%;
				border-left: 1px solid $border;
			}
			.post-time {
				float: right;
				width: 50%;
			}
		}
	}
	&.paragraph-article {
		@extend .small-article;
		@include breakpoint (phone) {
			.image-wrapper {
				width: 100%;
				margin-bottom: 10px;
			}
			.text-wrapper {
				width: 100%;
			}
			p {
				display: none;
			}
		}
	}
	.image-wrapper {
		float: right;
		vertical-align: top;
		@include breakpoint (phone) {
			float: none;
			display: inline-block;
		}
	}
	.video-wrapper {
		float: right;
		vertical-align: top;
		@include breakpoint (phone) {
			float: none;
			display: inline-block;
		}
		.article-subtitle--hline {
			display: block;
			text-align: center;
			margin: 0 0 20px;
			background: image-url("icons/hline.png") repeat-x left center;
			span {
				display: inline-block;
				background: $white;
				padding: 0 10px;
			}
		}
	}
	.text-wrapper {
		float: right;
		padding-right: 20px;
		@include breakpoint (phone) {
			float: none;
			display: inline-block;
			width: 48%;
		}
		.text-wrapper__inner-wrapper {
			float: right;
			@include calc (width, 100%, "-", $gutter-width + $gutter-margin, 80%);
		}
		.editor {
			display: block;
			float: none;
		}
		.categorie {
			display: inline-block;
			line-height: 2;
			border-top: 3px solid $gold;
		}
		.article-title {
			display: block;
			font-size: 30px;
			line-height: 36px;
			color: $gray-color;
			&--line-height {
				@extend .article-title;
				line-height: 44px;
			}
		}
		p {
			display: block;
			color: $gray-color;
		}
		.read-more {
			text-decoration: none;
		}
		.text-wrapper__block-link {
			display: block;
			color: $gold;
			text-align: center;
		}
	}
	.sponsor {
		display: block;
		background: $gold;
		color: $white;
		font-size: 16px;
		padding: 3px 10px;
		text-align: center;
		text-decoration: none;
	}
	.gutter {
		float: right;
		width: $gutter-width;
		margin-top: 10px;
		margin-left: 20px;
		border-top: 3px solid $gold;
	}
}
.widget {
	float: left;
	max-width: 380px;
	color: $black;
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
	@include breakpoint (phone) {
		float: none;
		display: block;
		margin: 0 auto 30px;
		border: none;
	}
	&--post {
		@extend .widget;
		background: #DFDFDF;
		.separator {
			&.hline {
				margin-bottom: 20px;
			}
		}
		.text-wrapper {
			.post-location {
				color: $gray-color;
				font-size: 12px;
				padding: 5px 0;
			}
			.post-time {
				color: $gray-color;
				font-size: 12px;
				padding: 5px 0;
			}
		}
	}
	&.background-gray {
		h2, h3 {
			color: $white;
		}
	}
	&.archive {
		background: #E9E9E9;
		ul {
			list-style: none;
			padding: 0;
			text-align: right;
			li {
				display: block;
				width: 100%;
				border-bottom: 1px solid $border;
				&:last-child {
					border: none;
				}
				a {
					display: block;
					width: 100%;
					padding: 10px;
					text-decoration: none;
					color: #2B2B2B;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.small-article {
		.image-wrapper {
			width: auto;
			max-width: 50%;
		}
	}
	img {
		margin: 0 auto;
		&.widget-logo {
			float: left;
		}
	}
	.widget-title {
		text-transform: uppercase;
		font-size: 24px;
		color: $black;
		@extend %heading-font-regular;
		&--gray {
			@extend .widget-title;
			color: $gray-color;
		}
	}
	h3 {
		color: $black;
	}
	.separator {
		&.hline {
			margin-bottom: 20px;
		}
	}
	.read-more {
		display: inline-block;
		width: auto;
		margin-top: 20px;
		line-height: 1.5;
		border-bottom: 1px solid $gold;
		text-decoration: none;
	}
	.widget-logo {
		display: block;
		width: 100%;
		img {
			display: inline-block;
		}
		.widget-title {
			display: inline-block;
			float: none;
			margin: 0;
			@include translate(0, -70%);
		}
	}
	.widget-selection {
		display: block;
		border-width: 1px 0;
		border-style: solid;
		border-color: $border;
		margin: 10px auto;
		padding: 0;
		.widget-selection__item {
			display: block;
			text-align: right;
			padding: 0 50px;
			@extend %clearfix;
			input {
				display: none;
				&:checked + label {
					background: image-url("icons/checked.png") no-repeat right center;
				}
			}
			label {
				display: block;
				width: 100%;
				padding: 5px 35px 5px 0;
				margin: 10px 0;
				color: $white;
				line-height: 1;
				background: image-url("icons/unchecked.png") no-repeat right center;
			}
		}
	}
}