/*
|------------------------------------------------------------
| Navigation
|------------------------------------------------------------
*/
.navigation {
	float: right;
	@extend %nav-font;
	&.site-navigation {
		@include breakpoint (phone) {
			width: 100%;
		}
	}
	&.categories {
		width: 100%;
		margin-top: 30px;
		.navigation-list {
			ul {
				li {
					margin: 10px;
					a {
						font-size: 18px;
					}
				}
			}
		}
	}
	&.article-categories {
		@include breakpoint (phone) {
			float: none;
			display: block;
		}
		.navigation-list {
			@include breakpoint (phone) {
				float: none;
				display: block;
			}
			ul {
				li {
					a {
						color: $gold;
					}
				}
			}
		}
	}
	&.topics {
		width: 100%;
		margin-top: 30px;
		font-size: 16px;
		span {
			float: right;
			margin-left: 10px;
			line-height: 1;
			padding: 10px 5px;
		}
		.read-more {
			float: right;
			width: auto;
			margin-right: 10px;
			text-decoration: none;
			padding: 10px 5px;
		}
		.navigation-list {
			ul {
				li {
					border: 1px solid $gold;
					a {
						padding: 10px 5px;
					}
				}
			}
			@include breakpoint (phone) {
				ul {
					li {
						margin: 10px;
					}
				}
			}
		}
	}
	&.pagination {
		width: 100%;
		.navigation-list {
			ul {
				li {
					margin: 5px;
					border: 1px solid $border;
					text-align: center;
					&.selected {
						border: 1px solid $gold;
						a {
							color: $gold;
						}
					}
					a {
						line-height: 1;
						padding: 10px 0;
						@extend %basic-font;
					}
				}
			}
		}
	}
	.mobile {
		background: #E9E9E9;
		float: right;
		width: 50%;
		color: $gray-color;
		text-decoration: none;
		padding: 10px 0;
		&:hover {
			text-decoration: underline;
		}
		@include breakpoint (phone) {
			display: inline-block;
		}
	}
	.navigation-list {
		float: right;
		&.list-style-suqare {
			ul {
				li {
					background: image-url("icons/list-style.png") no-repeat left center;
					padding-left: 15px;
				}
			}
		}
		&.list-style-dash {
			ul {
				li {
					background: transparent image-url("icons/dash.png") left top no-repeat;
					padding-left: 15px;
					&:last-child {
						background: none;
					}
				}
			}
		}
		&.site-navigation {
			font-size: 16px;
			color: $text-color;
		}
		ul {
			@extend %clearfix;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: right;
				margin: 0 5px;
				a {
					display: block;
					color: $text-color;
					text-decoration: none;
					line-height: 1;
					&:hover {
						text-decoration: underline;
					}
					&.list-categorie {
						color: $gold;
					}
				}
			}
		}
	}
}