#slider{
  width: 720px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.slides{
  display: block;
  list-style: none;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

.next{
  color: black;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  background: yellow;
  display: block;
  font-size: 28px;
}

.slide{
  float: left;
  width: 720px;
  height: 400px;
}

.caption{
  font-size: 14px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.bullet {
  display: block;
  margin: 20px auto;
  background: rgba(244, 230, 100, 0.5);
  span {
    display: inline-block;
    background: $black;
    color: $white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
}